bin/Debug/net7.0/ConsoleApp.deps.json
bin/Debug/net7.0/ConsoleApp.dll
bin/Debug/net7.0/ConsoleApp.exe
bin/Debug/net7.0/ConsoleApp.pdb
bin/Debug/net7.0/ConsoleApp.runtimeconfig.json
obj/ConsoleApp.csproj.nuget.dgspec.json
obj/ConsoleApp.csproj.nuget.g.props
obj/ConsoleApp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/ConsoleApp.AssemblyInfo.cs
obj/Debug/net7.0/ConsoleApp.AssemblyInfoInputs.cache
obj/Debug/net7.0/ConsoleApp.assets.cache
obj/Debug/net7.0/ConsoleApp.csproj.AssemblyReference.cache
obj/Debug/net7.0/ConsoleApp.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/ConsoleApp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/ConsoleApp.dll
obj/Debug/net7.0/ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/ConsoleApp.genruntimeconfig.cache
obj/Debug/net7.0/ConsoleApp.GlobalUsings.g.cs
obj/Debug/net7.0/ConsoleApp.pdb
obj/Debug/net7.0/ref/ConsoleApp.dll
obj/Debug/net7.0/refint/ConsoleApp.dll
